.home {
    height: calc(100vh - 60px); /* Adjust height considering the navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  }
  
  .home-content {
    text-align: center;
  }
  
  .home-title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  